*{
    margin: 0px;
    padding: px;
}
.fBlog{
    background-color: tomato;
    padding: 10px;
}
.margin_padding{
    margin: 10px;
    padding: 15px;
    border: 2px solid;
    box-shadow: 10px 10px 20px;
    font-family:'Courier New', Courier, monospace;
}
.sBlog{
    background-image: url('../images/briyani.jpg');
    background-repeat: contain;
    background-size: 200px;
    color: white;
    font-weight: bold;
}
